$primary-color: #ffffff;
$secondary-color: rgb(205, 205, 205);
$black-color: black;
$check-color: rgb(0, 135, 0);
$minus-color: rgb(182, 182, 182);
$check-btn: rgb(228, 228, 228);
$primary-check-btn:rgb(42, 174, 42);
$error-text: rgb(181, 0, 0)